controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

health-check:
    path: /health-check
    controller: App\Controller\HealthCheckAction

products:
    path: /products
    controller: App\Controller\App\ProductController::productsAction